includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor/nesbot/carbon/extension.neon
parameters:
    paths:
        - app
        - tests
    level: max
    ignoreErrors:
        - identifier: method.nonObject
        - identifier: argument.type
        - identifier: property.nonObject
        - identifier: binaryOp.invalid
        - identifier: offsetAccess.nonOffsetAccessible
        - identifier: missingType.generics
        - identifier: larastan.noEnvCallsOutsideOfConfig
    excludePaths:
