includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/simtel/phpstan-rules/rules.neon
parameters:
    paths:
        - app
        - tests
    level: max
    ignoreErrors:
    excludePaths:
