[mysqld]
innodb_file_per_table=1
sync_binlog=0
transaction-isolation=READ-COMMITTED
binlog_cache_size=0
sql_mode="STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
innodb_buffer_pool_size = 384M
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 64M
# Try to replace O_DIRECT by O_DSYNC if you have "Operating system error number 22"
innodb_flush_method = O_DIRECT
max_connections = 35
table_open_cache = 8096
thread_cache_size = 96
max_heap_table_size = 96M
tmp_table_size = 96M
key_buffer_size = 24M
join_buffer_size = 4M
sort_buffer_size = 4M
bulk_insert_buffer_size = 2M
myisam_sort_buffer_size = 4M
character-set-server=utf8
collation-server=utf8_unicode_ci
init-connect="SET NAMES utf8 COLLATE utf8_unicode_ci"

# Database charset parameters
[client]
default-character-set=utf8

[mysqldump]
quick
quote-names
max_allowed_packet = 16M
default-character-set = utf8
